<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="full-hero hero-home">
      <h1>I'm an h1</h1>
      <ul class="social-list">
        <li>
          <a href="http://example.com/" class="social-links">Fb</a>
        </li>
        <li>
          <a href="http://example.com/" class="social-links">Tw</a>
        </li>
        <li>
          <a href="http://example.com/" class="social-links">Gh</a>
        </li>
      </ul>
    </div>
    <h2>I am a H2</h2>
    <div class="bio-wrapper">
      <div class="bio-box">
        <img src="http://placekitten.com/g/400/400">
        <h3>Johnny Heitje</h3>
        <a href="http://example.com/" class="social-links">Tw</a>
        <div class="bio-copy">
          <p>
          Known for his eagle eyes and rapier wit, Johhny is the 
          photographer for <a href="http://example.com/">The Photobox</a>
          and writer of <a href="http://example.com/">The Photoblog</a>.
        </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="http://placekitten.com/g/400/400">
        <h3>Pip d'Angelo</h3>
        <a href="http://example.com/" class="social-links">Tw</a>
        <div class="bio-copy">
          <p>
            When he is not designing, he is swimming with sharks or building 
            houses of cards. He has infectious humor and is a front-end specialist.
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="http://placekitten.com/g/400/400">
        <h3>Bob Dordogne</h3>
        <a href="http://example.com/" class="social-links">Tw</a>
        <div class="bio-copy">
          <p>
            You may have heard him on Alexanderplatz playing the banjo, but 
            rest assured Bob is a monster developer. He just loves the beautiful 
            thing in life. 
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="http://placekitten.com/g/400/400">
        <h3>Scrappy</h3>
        <a href="http://example.com/" class="social-links">Tw</a>
        <div class="bio-copy">
          <p>
            Woof!
          </p>
        </div>
      </div>
    </div>
    <p>
      Learn Enough to Be Dangerous is a leader in the movement to teach the
      world <em>technical sophistication</em>, which includes both "hard
      skills" like coding, command lines, and version control, and "soft
       skills" like guessing keyboard shortcuts, Googling error messages, and
      knowing when to just reboot the darn thing.
    </p>
    <p>
      We believe there are <strong>at least a billion people</strong> who can
      benefit from learning technical sophistication, probably more. To join
      our movement,
      <a href="https://learnenough.com/#email_list">sign up for our official
      email list</a> now.
    </p>
    <h3>Background</h3>
    <p>
      Learn Enough to Be Dangerous is an outgrowth of the
      <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a> and the
      <a href="https://www.softcover.io/">Softcover publishing platform</a>.
      This page is part of the sample site for
      <a href="https://learnenough.com/css-tutorial"><em>Learn Enough CSS and
      Layout to Be Dangerous</em></a>, which teaches the basics of
      <strong>C</strong>ascading <strong>S</strong>tyle
      <strong>S</strong>heets, the language that allows web pages to be styled.
      Other related tutorials can be found at
      <a href="https://learnenough.com/">learnenough.com</a>.
    </p>
    {% include footer.html %}
  </body>
</html>



